/*global styles*/
body {
    font-family: sans-serif;

}

p {
    color: gray;
}

h6 {
    font-weight: lighter;
}
/*-------------------------------------------------
---------------------------------------*/
/* big screens */

.container {
    display: flex;

    width: 95%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 5px;
    margin: 20px;


}

.card img {
    display: inline-block;
    width: 30%;

    overflow: hidden;
}

.side {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between
}

.user {
    display: flex;
    justify-items: center;
    text-align: center;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-self: center;
    color: gray;
}

.info h6 {
    margin-bottom: 5px;
    margin-top: 6px;

}
@media only screen  and (min-width:1601px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: 100vh;
    }
    .card {
        width: 30%;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 35%;
    }
    .card > img {
        height: 100%;
        width: 50%;
        display: block;
    }
    .side {
        width: 50%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .user {
        justify-self: flex-end;
        align-self: flex-end;
    }
}
@media only screen  and (min-width:1201px) and (max-width:1600px){
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: 100vh;
    }
    .card {
        width: 40%;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .card > img {
        height: 100%;
        width: 50%;
        display: block;
    }
    .side {
        width: 50%;
    }
}
@media only screen  and (min-width:800px) and (max-width:1200px){
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: 100vh;
    }
    .card {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .card > img {
        height: 100%;
        width: 50%;
    }
}


@media only screen and (max-width:400px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        padding: 5px;
        margin: 20px;
        height: 600px;

    }

    .card img {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .side {
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: space-between
    }

    .user {
        display: flex;
        justify-items: center;
        text-align: center;
    }

    .user img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        align-self: center;
        color: gray;
    }

    .info h6 {
        margin-bottom: 5px;
        margin-top: 6px;

    }


}

@media only screen and (min-width: 401px) and (max-width:800px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        padding: 5px;
        margin: 20px;
        height: 900px;

    }

    .card img {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .side {
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: space-between
    }

    .user {
        display: flex;
        justify-items: center;
        text-align: center;
    }

    .user img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        align-self: center;
        color: gray;
    }

    .info h6 {
        margin-bottom: 5px;
        margin-top: 6px;

    }


}